*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: rgb(42, 42, 42);
  display: flex;
  /* padding: 20px; */
  height: 100px;
}
.navlinks{
  color: white;
  font-weight: 600;
  /* margin: 20px ; */
  /* width: 50%; */
  display: flex;
  justify-content:space-between;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
.navbar ul{
  display: flex;
  margin: 20px auto;
}
li{
  list-style: none;
}
h1{
  color: palevioletred;
}